<h2 class="text-center p-3 text-uppercase">New Company</h2>

<%= render 'form', company: @company %>

<%= link_to 'Back', companies_path, class: 'px-4 py-2 text-dark rounded-3 my-3 d-block text-end bg-transparent' %>
