<h2 class="text-center p-3 text-uppercase">New User Region</h2>

<%= render 'form', user_region: @user_region %>

<%= link_to 'Back', user_regions_path, class: 'px-4 py-2 text-dark rounded-3 my-3 d-block text-end bg-transparent' %>
